.box{
    width: 60%;
    height: 50%;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    padding-top: 10px
}
.icon{
    flex-grow: 2;
    color: white;
    font-size: 75px;
    border-radius: 15px;
    height: 100px;
    width: 60px;
    margin: 10px;
    text-align: center;
   
}

 .digit{
     
    flex-grow: 1;
    border-radius: 15px;
    align-items:center; 
    height: 100px;
    width: 60px;
    padding-bottom: 10px;
    text-align: center;
    margin: 10px;
 }
 .digit * {
    color: white;
    padding: auto;
    font-size: 75px;

}
